[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
scikit-learn = ">0.20.0"
tqdm = "*"
annoy = ">=1.15.2"
pytest = "*"
pybind11 = "*"
# ngt = "*"  # please install from NGT package
tf-nightly = "==2.2.0.dev20200504"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
